<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'portfolio/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap" rel="stylesheet">

    {% block portcss %}
    <link rel="stylesheet" href="{% static 'portfolio/css/portfolio.css' %}">
    {% endblock portcss %}

</head>
<body>

    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col-sm-2">
            {% include 'portfolio/sidebar.html' %}
            <div class="col-sm-10">
                {% block content %}

                {% endblock content %}
            </div>
        </div>
        
    </div>
    <script src="{% static 'portfoliojs/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'portfolio/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'portfolio/js/popper.min.js' %}"></script>
    <script src="{% static 'portfolio/js/all.min.js' %}"></script>
    
</body>
</html>