
{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
<div class=" mt-5">
    <div class="text-center">
    <img src="{% static 'portfolio/images/mylink.jpeg' %}" class="img-thumbnail mt-4 rounded-circle" height="150x" width="250px">
    
    <div class="text-white mt-5 mx-5 text-justify">
        <h3 class="font-weight-bold" style="font-family: 'Edu VIC WA NT Beginner', cursive;">Python developer</h3>
    <div class="px-4" style="line-height: 2rem;">
    <p style="text-indent: 100px;">
    <b class="text-warning">Python Developer--</b> I Love to create beautiful and amazing Websites With Python.</p>
    
</div>
    </div>
   </div>
    <div class="text-white mt-5 mx-5 text-justify">
        <h1 class="font-weight-bold" style="font-family: 'Edu VIC WA NT Beginner', cursive;">Hellow,</h1>
    <div class="px-4" style="line-height: 2rem;">
    <p style="text-indent: 100px;">
         I am <b class="text-warning">Rahul Gupta...</b>
 23 year old Graduation completed in 2019. Specialized in Python language and Mathematics. I believe in self study.I have completed so many Project in Python and AI(Artificial intelligency)
    </p>
</div>
    </div>
  <div class="text-center">
    <a href="" class="btn btn-outline-warning my-3 mr-5">Hire me</a>
    <a href="" class="btn btn-outline-info my-3">contact me</a>
  </div>
</div>


{% endblock content %}