{% extends 'portfolio/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">Experience</h1>
    

        <div class="text-white mt-5 mx-5 text-justify">
            <h3 class="font-weight-bold" style="font-family: 'Edu VIC WA NT Beginner', cursive;">Fresher</h3>
        <div class="px-4" style="line-height: 2rem;">
        <p style="text-indent: 100px;">
        <b class="text-warning">1 year experience </b> with abbott team </p>
        
    </div>
        </div>




    </div>
</div>

{% endblock content %}