{% extends 'portfolio/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SKILL</h1>
    <div class="row text-white text-center mb-5">
        
            <div class="col-sm-5 mt-5">
                <h3 >Python</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">95</div>
                  </div>
              </div>


              <div class="col-sm-5 mt-5 offset-sm-2">
                <h3 >Django</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success  progress-bar-animated" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">65</div>
                  </div>
              </div>



              <div class="col-sm-5 mt-5">
                <h3 >Java script</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped  progress-bar-animated" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">65</div>
                  </div>
              </div>


              <div class="col-sm-5 mt-5 offset-sm-2">
                <h3 >AJAX|Jquery</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%">55</div>
                  </div>
              </div>


              <div class="col-sm-5 mt-5">
                <h3 >Bootstrap</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 75%">70</div>
                  </div>
              </div>


              <div class="col-sm-5 mt-5 offset-sm-2">
                <h3 >HTML CSS </h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 30%">35</div>
                  </div>
              </div>


              <div class="col-sm-5 mt-5">
                <h3 >Mysql</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 30%">35 running</div>
                  </div>
              </div>


              <div class="col-sm-5 mt-5 offset-sm-2">
                <h3 >DSA in python</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 20%">25 running</div>
                  </div>
              </div>




              <div class="col-sm-5 mt-5">
                <h3 >OOPS in Python</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success  progress-bar-animated" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 88%">88</div>
                  </div>
              </div>


              <div class="col-sm-5 mt-5 offset-sm-2">
                <h3 >c</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 40%">40 </div>
                  </div>
              </div>

         </div>


       


     </div>




    </div>
</div>

{% endblock content %}